body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-size: 1em;
  color: #222;
  max-width: 40rem;
  padding: 2rem;
  margin: auto;
  background: #fafafa; 
}

header {
  display: block;
  width: 100%;
  float: left;
}

img {
  max-width: 100%; 
}

a {
  color: #0074D9; 
}

h1, h2, strong {
  color: #111; 
}

h1 {
  font-size: 1.6em;
}

h2, h3 {
  font-size: 1.3em; 
  margin-top: 1.3em;
  margin-bottom: 0.2em; 
}

h3 {
  font-size: 1.1em; 
  font-style: italic; 
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.66em;
}

hr {
  border: 0px;
  border-top: 1px solid #eee; 
}

.muted {
  color: #aaa;
  text-decoration: none; 
}

.small {
  font-size: .8em; 
}


.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }

.plyr-container {
	width: 800px;
	height: 450px;
}

.plyr-video {
	object-fit:
cover;
}

#map { height: 180px; }

blockquote {
  background: #f9f9f9;
  border-left: 3px solid #ccc;
  margin: 1.5em 10px;
  font-style: italic;
  padding: 0.5em 10px;
}
blockquote p {
  display: inline-block;
}

:root {
  --background-color: #fff;
  --text-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --text-color: #fff;
  }
}
