body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-size: 1em;
  color: #222;
  max-width: 40rem;
  padding: 2rem;
  margin: auto;
  background: #fafafa; 
}

header {
  display: block;
  width: 100%;
  float: left;
}

/* Base styles for images */
img {
  max-width: 100%; /* Ensures the image is never wider than its container */
  height: auto; /* Maintains the aspect ratio */
  display: block; /* Prevents the default inline behavior which can cause spacing issues */
}

/* Mobile devices */
@media (max-width: 600px) {
  img {
    width: 100%; /* Makes images fill the container on small screens */
  }
}

/* Desktop and other devices */
@media (min-width: 601px) {
  img {
    width: 75%; /* Adjust this value if you want smaller/larger images on larger screens */
  }
}


a {
  color: #0074D9; 
}

h1, h2, strong {
  color: #111; 
}

h1 {
  font-size: 1.6em;
}

h2, h3 {
  font-size: 1.3em; 
  margin-top: 1.3em;
  margin-bottom: 0.2em; 
}

h3 {
  font-size: 1.1em; 
  font-style: italic; 
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.66em;
}

hr {
  border: 0px;
  border-top: 1px solid #eee; 
}

.muted {
  color: #aaa;
  text-decoration: none; 
}

.small {
  font-size: .8em; 
  line-height: 0.8em;
}

input, textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }


#map { height: 180px; }

blockquote {
  background: #ebf2ff;
  border-left: 3px solid #2596be;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote p {
  display: inline-block;
}

