---
layout: default
---
<a class="muted small" href="/">{{ site.title | escape }}</a>

<main>

<div id="mc_embed_signup">
    <form action="https://berens.us17.list-manage.com/subscribe/post?u=488257f22066b5de5ab8818a3&amp;id=feebd26a5e&amp;f_id=000b15e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
        <div id="mc_embed_signup_scroll" style="display: flex; align-items: center;">
            <div class="mc-field-group" style="margin-right: 10px; flex-grow: 1;">
                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" placeholder="Here's my email—give me in newsletter form!" style="width: 100%; min-width: 300px; padding: 8px; font-size: 16px;">
            </div>
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                <input type="text" name="b_488257f22066b5de5ab8818a3_feebd26a5e" tabindex="-1" value="">
            </div>
            <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe" style="padding: 8px 16px; font-size: 16px;">
            </div>
        </div>
    </form>
</div>
  
{{ content }}

  {%- if site.posts.size > 0 -%}
    <h1>{{ page.list_title | default: "Posts" }}</h1>
    <ul class="more-space">
      {%- for post in site.posts -%}
      <li><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

{%- include footer.html -%}
</main>