---
layout: default
---
<a class="muted small" href="/">{{ site.title | escape }}</a>

<h1>{{ page.title | escape }}</h1>
<span class="muted small">By {{ page.author }}</span>

{% if page.ogimage %}
  <p><a href="{{ page.book_url }}">
    <img src="{{ site.url }}/assets/og/{{ page.ogimage | relative_url }}" alt="Book Image" style="max-height: 150px; width: auto;">
  </a>
{% endif %}

{{ content }}

<p><a class="muted small" href="/books/">← back to books</a></span><span class="muted small"> | </span><a class="muted small" href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&amp;url={{ site.url }}{{ page.url | url_encode }}&amp;via=berensp&amp;" target="_blank" aria-label="Tweet this page">tweet</a></span><span class="muted small"> | </span><span><a class="muted small" href="https://warpcast.com/~/compose?text=Just%20read%20this%20one%20by%20%40pmb%3A%20%22{{ page.title | url_encode }}%22&embeds[]={{ site.url }}{{ page.url | url_encode }}" target="_blank" aria-label="Cast this page">cast</a></span></p>

{%- include footer.html -%}