<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script src="https://kit.fontawesome.com/07503a18d4.js" crossorigin="anonymous"></script>

<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
 <script>
      document.addEventListener('DOMContentLoaded', () => {
          const player = Plyr.setup('.js-player');
      });
  </script>

  {%- include head.html -%}

  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMZNFRB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    {{ content }}
  </body>
</html>
