<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMZNFRB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    {{ content }}

{% assign days_since_last_post = (now - site.posts.first.date) | days %}

{% if days_since_last_post == 0 %}
  today
{% elsif days_since_last_post == 1 %}
  yesterday
{% else %}
  {{ days_since_last_post }} days ago
{% endif %}

  </body>
</html>
