---
layout: default
---
<header>
  <h1>{{ site.title | escape }}</h1>
</header>

<main>
  
{{ content }}

<div id="post-date" data-post-date="{{ site.first.post.date | date: "%Y-%m-%dT%H:%M:%SZ" }}"></div>
<div id="time-difference"></div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  // Function to calculate and update the time difference
  function updateTimeDifference() {
    var postDate = new Date(document.getElementById("post-date").getAttribute("data-post-date"));
    
    // Convert currentDate to UTC
    var currentDate = new Date(new Date().toUTCString());
    
    console.log("postDate (UTC): " + postDate.toISOString());
    console.log("currentDate (UTC): " + currentDate.toISOString());

    // Check if the date parsing was successful
    if (!isNaN(postDate.getTime()) && !isNaN(currentDate.getTime())) {
      var timeDifference = currentDate - postDate;
      var daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
      document.getElementById("time-difference").textContent = "Days since the post: " + daysDifference;
    } else {
      document.getElementById("time-difference").textContent = "Error parsing date.";
    }
  }

  // Call the function initially
  updateTimeDifference();

  // Refresh the time difference calculation every minute
  setInterval(updateTimeDifference, 60000); // 60000 milliseconds = 1 minute
});
</script>


</main>

{%- include footer.html -%}