---
layout: default
---
<header>
  <h1>{{ site.title | escape }}</h1>
</header>

<main>
  
{{ content }}

<script>
document.addEventListener("DOMContentLoaded", function () {
  // Function to calculate and update the time difference
  function updateTimeDifference() {
    var postDateString = document.getElementById("post-date").getAttribute("data-post-date");
    var postDate = new Date(postDateString);
    
    if (isNaN(postDate.getTime())) {
      console.error("Invalid post date:", postDateString);
      document.getElementById("time-difference").textContent = "Error: Invalid post date.";
      return;
    }
    
    // Convert currentDate to UTC
    var currentDate = new Date(new Date().toUTCString());

    console.log("postDate (UTC): " + postDate.toISOString());
    console.log("currentDate (UTC): " + currentDate.toISOString());

    var timeDifference = currentDate - postDate;
    var daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
    document.getElementById("time-difference").textContent = "Days since the post: " + daysDifference;
  }

  // Call the function initially
  updateTimeDifference();

  // Refresh the time difference calculation every minute
  setInterval(updateTimeDifference, 60000); // 60000 milliseconds = 1 minute
});
</script>


</main>

{%- include footer.html -%}