---
layout: default
---
<a class="muted small" href="/">{{ site.title | escape }}</a>

<script src="https://openlayers.org/en/v6.0.1/build/ol.js"></script>

<main>

{{ content }}

    <h1>👟 Running</h1>

<p>The "hate side" of my love-hate with running has something to do with occasional <i>patellofemoral arthralgia</i> and <i>plantar fasciitis</i>, whereas the "love side" seems to correspond with being in okay-enough shape to achieve some degree of "runner's high" and/or being able to run beautiful routes like...

<h2>Twin Peaks Mt. Sutro Loop</h2>

   <p>
    <div id="sutro" class="map" style="height: 300px; width: 100%;"></div>
    <script>
      var vectorLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
          url: '/assets/maps/Twin_Peaks_Mt_Sutro.gpx',
          format: new ol.format.GPX()
        }),
        style: new ol.style.Style({
          stroke: new ol.style.Stroke({
            color: 'red',
            width: 3
          })
        })
      });

      var sutro = new ol.Map({
        target: 'sutro',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          }),
          vectorLayer
        ],
        view: new ol.View({
	    center: [-13631483.529752282,4544450.726165106],
	    zoom: 14,
	    maxZoom: 19,
	    minZoom: 5
        })
      });
    </script>
</p>

<br> <p><h2>GGP to home loop</h2></p>

<br><p>
  <div id="map" class="map" style="height: 300px; width: 100%;"></div>
    <script>
      var vectorLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
          url: '/assets/maps/Twin_Peaks_Mt_Sutro.gpx',
          format: new ol.format.GPX()
        }),
        style: new ol.style.Style({
          stroke: new ol.style.Stroke({
            color: 'red',
            width: 3
          })
        })
      });

      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          }),
          vectorLayer
        ],
        view: new ol.View({
	    center: [-13631483.529752282,4544450.726165106],
	    zoom: 14,
	    maxZoom: 19,
	    minZoom: 5
        })
      });
    </script>
</p>

{%- include footer.html -%}
</main>
