<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
<a class="muted small" href="/">{{ site.title | escape }}</a>

{% assign totaltime = page.preptime | plus: page.cooktime %}

<h1>{{ page.title | escape }}</h1>

<b>Prep time:</b> {{ page.preptime }} min.
<b>Cook time:</b> {{ page.cooktime }} min.
<b>Total time:</b> {{ totaltime }} min.
<b>Yield:</b> {{ page.yield }}

{{ content }}

<p><a href="/recipes/">← My Recipes</a>

{%- include footer.html -%}

  </body>
</html>