<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body>

<a class="muted small" href="/">{{ site.title | escape }}</a>

<script type="module" src="strava.js"></script>

<h1>{{ page.title | escape }}</h1>

<mark>{{ page.distance }}</mark> | <mark>{{ page.elevation }}</mark> | <mark>{{ page.difficulty }}</mark>

{{ content }}


  <div id="activity"></div>

  <script>
    // Import function
    import { getRecentActivity } from './activity.js';

    // Call function
    getRecentActivity()
      .then(activity => {

        // Display data 
        document.getElementById('activity').innerHTML = `
          <h3>${activity.name}</h3>
          <p>On: ${activity.date}</p>
          <p>Distance: ${activity.distance}</p>
        `;

      });
  </script>


{%- include footer.html -%}

</body>
</html>